* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.credentialBody {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}

.credentialsWrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credentialsWrapper h1 {
  font-size: 30px;
  color: red;
  font-weight: 400;
  line-height: 37.056px;
  color: rgb(255, 255, 255);
}

.credentialsWrapper p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(255, 255, 255);
  margin-top: 2%;
}

.loginForm {
  width: 100%;
  height: 70%;
  /* background-color: yellowgreen; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.loginFormWrap {
  width: 60%;
  height: 60%;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 15px; */
  margin-top: 4%;
}

.loginFormTop,
.loginFormDown {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  margin-top: 2%;
  /* position: ; */
}

.eyebobo {
  position: relative;
  bottom: -45px;
  left: 120px;
}

.loginFormTop input:focus {
  border: 2px solid blue;
  border-radius: 5px;
}
.loginFormDown input:focus {
  border: 2px solid blue;
  border-radius: 5px;
}

input {
  width: 100%;
  height: 65%;
  border: none;
  padding-left: 10px;
  outline: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

::placeholder {
  font-size: 12px;
}

.loginFormButton {
  width: 30%;
  height: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 5px;
  /* margin-top: 2%; */
  cursor: pointer;
}

.infoBelowLogin {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #212121;
  /* margin-bottom: 120px; */
  margin-top: 8%;
}

.text {
  width: 65%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid grey;
  background-color: #212121;
}

a {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(153, 153, 153);
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

.midword {
  color: rgb(153, 153, 153);
}

.infoShow {
  width: 90%;
  height: 23%;
  z-index: 1;
  cursor: pointer;
  margin-top: 2%;
}
.infoShowWrap {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: green;
  border: 1px solid red;
  /* padding: 10px; */
  /* background-color: green; */
  border-radius: 5px;
}

.blue {
  width: 100%;
  height: 20vh;
  background-color: black;
}

.dan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  background-color: #212121;
}

.showLeft {
  width: 10%;
  height: 100%;
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
}

.showRight {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
  justify-content: center;
  flex-direction: column;
  padding: 6px;
  gap: 10px;
}
.Eyeicon {
  font-size: 12px;
  color: white;
  background-color: black;
  position: relative;
  left: 160px;
  bottom: 60px;
}

.showRight p {
  color: white;
  font-size: 13px;
  font-weight: 400;
  /* line-height: 27px; */
  background-color: black;
}
.showRight h2 {
  color: white;
  font-size: 12px;
  font-weight: 600;
  background-color: black;
}
@media (max-width: 767px) {
  .credentialBody {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
  }
  .credentialsWrapper {
    width: 80%;
    height: 90%;
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .credentialsWrapper h1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 37.056px;
    color: rgb(255, 255, 255);
  }
  .credentialsWrapper p {
    font-size: 25px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(255, 255, 255);
    margin-top: 6%;
  }
  .loginForm {
    width: 100%;
    height: 48%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .loginFormWrap {
    width: 100%;
    height: 70%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
  }

  .loginFormTop,
  .loginFormDown {
    width: 100%;
    height: 30%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    background-color: black;
    margin-top: 2%;
  }
  input {
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  ::placeholder {
    font-size: 20px;
  }

  .loginFormButton {
    width: 100%;
    height: 30%;
    display: flex;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  .loginFormButton button {
    width: 30%;
    height: 80px;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
  }
  .infoBelowLogin {
    width: 100%;
    height: 20%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* gap: 5px; */
    /* background-color: #212121; */
    margin-bottom: 120px;
  }

  .text {
    width: 100%;
    height: 45%;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;

    align-items: center;
    gap: 20px;
    border-bottom: 1px solid grey;
    background-color: #212121;
  }
  a {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(153, 153, 153);
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: underline;
  }
  .dan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 50%;
    flex-direction: column;
  }
  .Eyeicon {
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .credentialBody {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
  }
  .credentialsWrapper {
    width: 80%;
    height: 90%;
    display: flex;
    /* background-color: aqua; */
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
  }
  .credentialsWrapper h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 37.056px;
    color: rgb(255, 255, 255);
  }
  .credentialsWrapper p {
    font-size: 15px;
    /* width: 100%; */
    font-weight: 400;
    line-height: 27px;
    color: rgb(255, 255, 255);
    margin-top: 2%;
    text-align: center;
  }
  .loginForm {
    width: 100%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .loginFormWrap {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 35px; */
  }

  .loginFormTop,
  .loginFormDown {
    width: 100%;
    height: 20%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    /* background-color: black; */
    /* background-color:yellow; */
    margin-top: 2%;
  }
  input {
    width: 60%;
    height: 100%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  ::placeholder {
    font-size: 20px;
  }

  .loginFormButton {
    width: 50%;
    height: 18%;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }

  .infoBelowLogin {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text {
    width: 100%;
    height: 40%;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;

    align-items: center;
    gap: 20px;
    border-bottom: 1px solid grey;
    background-color: #212121;
  }
  a {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(153, 153, 153);
    text-decoration: none;
  }

  a:hover {
    color: red;
    text-decoration: underline;
  }
  .dan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 50%;
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
  }
  .Eyeicon {
    font-size: 25px;
  }
  .infoShow {
    width: 100%;
    height: 25%;
    z-index: 1;
    cursor: pointer;
    margin-top: 2%;
  }
  .infoShowWrap {
    width: 100%;
    height: 70%;
    display: flex;

    border-radius: 5px;
  }
  .showLeft {
    width: 10%;
    height: 100%;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
  }

  .showRight {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .showRight p {
    text-align: start;
    color: white;
    font-size: 11px;
  }
  .showRight h2 {
    color: white;
    font-size: 14px;
  }
  .eyebobo {
    position: relative;
    bottom: -85px;
    left: 120px;
  }
}
